.elementor-2328 .elementor-element.elementor-element-eb85951 {overflow: hidden;}
.elementor-2328 .elementor-element.elementor-element-63bc2f0 > .elementor-element-populated {margin: 0px 0px 0px 0px;}
.elementor-2328 .elementor-element.elementor-element-93fb134 .elementor-image img {width: 100%;}
.elementor-2328 .elementor-element.elementor-element-36dfcdd .elementor-spacer-inner {height: 50px;}
.elementor-2328 .elementor-element.elementor-element-c9813b0 .elementor-image img {width: 100%;}
.elementor-2328 .elementor-element.elementor-element-ce9d7e3 .elementor-spacer-inner {height: 50px;}
.elementor-2328 .elementor-element.elementor-element-f4e0e2f .elementor-main-swiper {height: 761px;width: 100%;}
.elementor-2328 .elementor-element.elementor-element-f4e0e2f .elementor-main-swiper .elementor-carousel-image {background-size: contain;}
.elementor-2328 .elementor-element.elementor-element-f4e0e2f.elementor-skin-slideshow .elementor-main-swiper {margin-bottom: 47px;}
.elementor-2328 .elementor-element.elementor-element-f4e0e2f .elementor-main-swiper .swiper-slide {border-radius: 0px;}
.elementor-2328 .elementor-element.elementor-element-f4e0e2f .elementor-swiper-button {font-size: 20px;}
.elementor-2328 .elementor-element.elementor-element-f4e0e2f > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
@media (max-width:1024px) {.elementor-2328 .elementor-element.elementor-element-f4e0e2f.elementor-skin-slideshow .elementor-main-swiper {margin-bottom: 10px;}}
@media (max-width:767px) {.elementor-2328 .elementor-element.elementor-element-f4e0e2f.elementor-skin-slideshow .elementor-main-swiper {margin-bottom: 10px;}}